//variables
$rocket-section-width: 30%;
$form-section-width: 70%;
$name-input-width: 40%;

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}
main {
    width: 90%;
    height: 80%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
.form{
    width: $form-section-width;
    height: 80%;
    float: left;
    align-items:center;
    margin-top: 5%;
}
#rocket{
    width: $rocket-section-width;
    height: 100%;
    background-color:blue;
    float: right;
}

form {
    * {
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}
}
#firstname {
    width: $name-input-width;
}

#lastname {
    width: $name-input-width;
    float: right;
}
.basicBox{
    width: 95%;

}


.submit{
    $btn-width : 300px;
    width: $btn-width;
    justify-self: center;
    background-color: skyblue;
    text: {
        align:center;
        decoration:none;
        color: white;
    }
    display: inline-block;  
    margin-left: calc(50% - $btn-width/2);  
}